{% extends "base.html" %} {% block title %}Editar Perfil{% endblock %} {% block
content %}
<div class="container-fluid p-0">
  <div class="row justify-content-center mt-2 align-items-center">
    {% for user_to_edit in users %}
    <div class="col-auto p-0">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                  <span style="color:rgb(5, 110, 5)">
                    {% if user_to_edit.is_admin %}
                        Admin
                        {% else %}
                          &nbsp; <!-- Espacio reservado si no es admin -->
                    {% endif %}
                  </span>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-auto px-1 text-center">
                    <div onclick="select_user({{ user_to_edit.id }})" class="clickable-item">
                        <label class="checkbox round-checkbox">
                            <input type="checkbox" name="players" value="{{ user_to_edit.id }}" {{ 'checked' if user_to_edit.id == user.id else '' }}>
                            <img src="{{ url_for('static', filename='images/' ~ user_to_edit.id ~ '/' ~ user_to_edit.photo) }}" alt="" class="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    {{ user_to_edit.first_name }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
  </div>  
  <div class="card-body text-center p-2 ">
    <a class="text-decoration-none text-dark" href="" data-toggle="modal" onclick="delete_info('{{ url_for('views.create_users') }}')"> <i class="bi bi-plus-circle h2 text-dark"></i></a>
    <div>Nuevo Jugador</div>
  </div>
</div>
<div></div>
<form method="POST" id="editUsersForm" enctype="multipart/form-data">
  <h3 align="center">Editar Perfil</h3>
  <input type="hidden" id="userId" name="userId" value="{{ current_user.id }}">
  <img
    src="{{ url_for('static', filename='images/'~user.id~'/'~user.photo~'') }}"
    alt="{{user.first_name}}"
    class="img-thumbnail mx-auto d-block"
    style="width: 200px; height: 200px"
    id="profileImage" 
  />
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="{{user.email}}"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="{{user.first_name}}"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Nuevo password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirmar)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirmar password"
    />
  </div>
  <div class="form-group">
    <label for="photo">Cambiar foto perfil</label>
    <input type="file" class="form-control" id="photo" name="photo" />
  </div>
  <br />
  <div class=" mx-auto d-block">
    <button type="submit" class="btn btn-secondary">Modificar</button>
    <button type="button" data-toggle="modal" data-target="#delete-user" class="btn btn-dark">Borrar</button>
  </div>

</form>

<!-- Modal Delete User-->
<div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Deseas borrar el Usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" data-dismiss="modal" class="btn btn-dark confirm">Confirmar</button>
      </div>
    </div>
  </div>
</div> 

<script src="../static/admin_edit_users.js"></script>
{% endblock %}
