{% extends "base.html" %} {% block title %}Campeonatos{% endblock %} {% block content
  %}
  <link rel="stylesheet" href="{{url_for("static", filename="games.css")}}">

  
  
  <h3 align="center">Campeonatos</h3>
  
    <div class="card mb-1">
      <div class="card-header bg-dark text-light">
        Añadir Campeonato
      </div>
      <div class="card-body text-center p-2 ">
        <a class="text-decoration-none text-dark" href="" data-toggle="modal" data-target="#add-place"> <i class="bi bi-plus-circle h2 text-dark"></i></a>
      </div>
    </div> 

{% for game in games%}
<div class="card mb-1">
  <div class="card-header bg-dark text-light d-flex justify-content-between align-items-center">
  <div class="place">{{game.place}}
    <div>
      <small>{% if game.position == 1 %}Campeones / {{game.price}}
              {% elif game.position == 2 %} Subcampeones / {{game.price}}
              {%else%} (Perdido)
              {%endif%}
      </small>
    </div>
    
  </div>
  <div>
    <a class="text-decoration-none text-dark" href="" data-toggle="modal" data-target="#{{game.id}}"> <i class="bi-pencil-square text-light"></i></a> &nbsp;&nbsp;&nbsp; 
    <a href="" data-toggle="modal" data-target="#delete-{{game.id}}" class="text-decoration-none">
      <i class="bi bi-trash text-light"></i>
    </a>
  </div>
</div>
<!-- Modal Update Tournament-->
<div class="modal fade" id="{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class=" h6 modal-title text-light" id="exampleModalLongTitle">Editar el campeonato de {{game.place}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{url_for('views.update_game')}}">
        <input type="hidden" value="{{game.id}}" name="game_id" id="game_id"></input>
      <div class="modal-body"> 
        <div class="form-group">
          <label for="place">Campeonato</label>
          <input
            type="text"
            class="form-control"
            id="place"
            name="place"
            placeholder="{{game.place}}"
            autofocus
          />
          <label for="price">Premio</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            placeholder="{{game.price}}"
          />             
            <label for="position">Premio</label>
            <select class="form-control" id="position" name="position">
              <option value="1" {% if game.position == 1 %} selected{% endif%}>1º</option>
              <option value="2" {% if game.position == 2 %} selected{% endif%}>2º</option>
              <option value="3" {% if game.position == 3 %} selected{% endif%}>3º</option>
              <option value="" {% if game.position == None %} selected{% endif%}>Ya no merece la pena...</option>
            </select>

            <label for="price">Jugado el:</label>
            <input
              type="date"
              class="form-control"
              id="created_at"
              name="created_at"
              value = "{{game.created_at.strftime('%Y-%m-%d')}}"
            />   
            </div>
      </div>              

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-dark">Guardar</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Modal Delete Game-->
 <div class="modal fade" id="delete-{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar {{game.place}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Deseas borrar el Campeonato entero?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" data-dismiss="modal" onclick="delete_game({{game.id}})" class="btn btn-dark">Confirmar</button>
      </div>
    </div>
  </div>
</div> 

      {%for round in game.rounds_played%}
                  <div class="container container-fluid">
                    <div class="row d-flex justify-content-between"> 
                      <div class="col p-0 col-2 d-flex text-center justify-content-center p-0 align-self-center">
                        <p class="font-weight-bold m-0">{{round.number}}</p>
                      </div >
                      <div class="col d-flex text-center justify-content-center align-self-center">
                        
                        <div class="row justify-content-center fluid p-0">
                      {%for players in round.players%}
                      <div class="col">
                        <div class = "container fluid container-fluid p-0">
                          <div class="row justify-content-center mt-2">
                            <div class="col px-1">                
                            <img src="{{ url_for('static', filename='images/' ~players.id~  '/' ~players.photo~'') }}" alt="" class = "round-img">
                            </div>
                          </div>
                            <div class="row">
                              <div class="col p-0">
                                {{players.first_name}}
                              </div>
                            </div>
                        </div>
                      </div>
                      {%endfor%}  
                    </div>
                    
               
                  </div>
                  <div class="col col-2 d-flex text-center justify-content-end px-3 align-self-center">
                        <a class="text-decoration-none text-dark" href="" data-toggle="modal" data-target="#update-round-{{round.id}}"> <i class="bi-pencil-square text-dark"></i></a> &nbsp;&nbsp;&nbsp; 
                        <a class="text-decoration-none text-dark" href="" data-toggle="modal" data-target="#delete-{{round.id}}"> <i class="bi bi-trash text-dark"></i></a>
                  </div>
                </div> 
                <div class="row">
                           <div class="col col-12 text-center mt-2 mb-0">
                              {%if round.victory%}{{"¡Ganada!"}}{%else%}{{"Perdida :("}}{%endif%}
                           </div>
                         </div>
                  </div>   
                  <hr class="hr m-2">
<!-- Modal Update Round-->
 <div class="modal fade" id="update-round-{{round.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class=" h6 modal-title text-light" id="exampleModalLongTitle">Editar Ronda {{round.number}} de {{game.place}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{url_for('views.update_round')}}">
        <input type="hidden" value="{{round.id}}" name="roundsId" id="roundsId"></input>
      <div class="modal-body">
        <div class = "container ">
        <div class="row justify-content-center align-items-center">
            {% for user in users %}
            
            <div class="col-auto p-0">
              <div class = "container">
                <div class="row justify-content-center">
                  <div class="col-auto px-1 text-center">
                <label class="checkbox round-checkbox">
                  <input type="checkbox" name="players" value="{{ user.id }}" {{'checked' if user in round.players else '' }}>
                  <img src="{{ url_for('static', filename='images/' ~user.id~  '/' ~user.photo~'') }}" alt="" class = "">
              </div>
              </div>
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      {{user.first_name}}
                    </div>
                </div>
                </label>
              </div>
              </div>
                {% endfor %}
              </div>
               </div>
               <div class="btn-group-toggle d-flex text-align-center justify-content-center pt-2" data-toggle="buttons">
                <button class="btn btn-outline-secondary btn-sm mx-1 {{ 'active' if round.victory else '' }}">
                  <input type="radio" name="victory" id="exampleRadios1" value="1" data-toggle="button" {{ 'checked' if round.victory else '' }}>
                  Ganamos
                </button>
                <button class="btn btn-outline-secondary btn-sm mx-1 {{'active' if not round.victory else '' }}">
                  <input type="radio" name="victory" id="exampleRadios2" value="0" data-toggle="button" {{ 'checked' if not round.victory else '' }}>
                  Perdimos
                </button>
              </div>
              </div>              

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-dark">Guardar</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Modal Delete Round-->
 <div class="modal fade" id="delete-{{round.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar {{round.number}} de {{game.place}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Deseas borrar la ronda?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" data-dismiss="modal" onclick="delete_round({{round.id}})" class="btn btn-dark">Confirmar</button>
      </div>
    </div>
  </div>
</div> 
      {%endfor%} <!-- close rounds -->
      <div class="container">
        <div class="card border-0">
          <div class="card-body text-center border-0 p-0">
                        <a class="text-decoration-none text-dark" href="" data-toggle="modal" data-target="#{{game.id}}add-round"> <i class="bi bi-plus-circle h2 text-dark"></i></a>
                <br>Añadir ronda
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Add Round-->
 <div class="modal fade" id="{{game.id}}add-round" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class=" h6 modal-title text-light" id="exampleModalLongTitle">Añadir Ronda en {{game.place}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{url_for('views.add_round')}}">
                <input type="hidden" value="{{game.id}}" name="game_id" id="game_id"></input>
      <div class="modal-body">
        <div class = "container ">
        <div class="row">
            {% for user in users %}
            
            <div class="col p-0 ">
              <div class = "container">
                <div class="row">
                  <div class="col text-center align-items-end  p-0">
                <label class="checkbox round-checkbox">
                  <input type="checkbox" name="players" value="{{ user.id }}">
                  <img src="{{ url_for('static', filename='images/' ~user.id~  '/' ~user.photo~'') }}" alt="" class = "">
              </div>
              </div>
                  <div class="row">
                    <div class="col text-center">
                      {{user.first_name}}
                    </div>
                </div>
                </label>
              </div>
              </div>
                {% endfor %}
              </div>
               </div>

               <div class="btn-group-toggle d-flex text-align-center justify-content-center pt-2" data-toggle="buttons">
                <button class="btn btn-outline-secondary btn-sm mx-1">
                  <input type="radio" name="victory" id="victory" value="True" data-toggle="button">
                  Ganamos
                </button>
                <button class="btn btn-outline-secondary btn-sm mx-1">
                  <input type="radio" name="victory" id="defeat" value="False" data-toggle="button">
                  Perdimos
                </button>
              </div>
              </div>              

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-dark">Guardar</button>
      </div>
    </div>
  </div>
</div>
</form>
    {%endfor%} <!-- close games -->


        <!-- Modal Add Game-->
 <div class="modal fade" id="add-place" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class=" h6 modal-title text-light" id="exampleModalLongTitle">Añadir Campeonato</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{url_for('views.add_game')}}">
      <div class="modal-body">
        <div class="form-group">
    <label for="place">Campeonato</label>
    <input
      type="text"
      class="form-control"
      id="place"
      name="place"
      placeholder="Lugar del Campeonato.."
      autofocus
    />
    <label for="price">Premio</label>
    <input
      type="text"
      class="form-control"
      id="price"
      name="price"
      placeholder="Si no hubo premio déjalo en blanco..."
    />
      </div>              
      <label for="position">Premio</label>
      <select class="form-control" id="position" name="position">
        <option value="1">1º</option>
        <option value="2">2º</option>
        <option value="3">3º</option>
        <option value="">Ya no merece la pena...</option>
      </select>

      <label for="price">Jugado el:</label>
      <input
        type="date"
        class="form-control"
        id="created_at"
        name="created_At"
        placeholder="Fecha actual"
        value=""
      />  
        </div>      


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-dark">Guardar</button>
      </div>
    </div>
  </div>
</div>
</form>
    


    
    <script src="{{url_for('static', filename="games.js")}}"></script>
  
  {% endblock %}

  