{% extends "base.html" %} {% block title %}Donde Cuadre{% endblock %} {% block content
%}
 


<h3 align="center">Donde Cuadre</h3>
<link rel="stylesheet" href="static/leaderboard.css">

<div class="container">
  <div class="row">
    
      <div class="wrapper col">
        <div class="wrapper__header">
          <div class="b_logo"><img src="https://images.vexels.com/media/users/3/135313/isolated/lists/9c44517fa04da541c35888362bce2d1b-award-trophy-icon.png" width="40" alt=""/></div>
          <div class="b_caption">
            <p>Porcentaje <span>Victorias 2024</span></p>
          </div>
        </div>
        <div class="wrapper__content">
          <ul>
            {% for user in winrates %}
            <a href="" class="text-decoration-none text-dark" data-toggle="modal" data-target="#user-{{user.id}}">
            <li onclick="tournaments({{user.id}}, 2024)">
              <div class="graphic"><img src="{{ url_for('static', filename='images/'~user.id~'/'~user.photo~'') }}" alt="{{user.player}}"/></div>
              <div class="name"><span class="header">{{user.first_name}} {{user.won}}/{{user.played}}</span><span class="stat winrate">{{user.winrate}}</span><span class="sub stat">%</span></div>
            </li>
            </a>
              <!-- Modal user-{{user.id}} -->
              <div class="modal fade" id="user-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog-centered modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="exampleModalLabel">{{user.first_name}}</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Por el momento {{user.first_name}} ha ganado {{user.won}} de {{user.played}}, y se encuentra en la {{user.position}}ª posición <span id="position"></span>, con un porcentaje de victorias del {{user.winrate}}%
                    
                      Torneos jugados:
                      <span id="games_played_by_{{user.id}}">
                        <a href="" class="text-decoration-none text-dark" data-toggle="modal" data-target="#game-{{game}}">
                        <li>  
                        </li>
                        </a></span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </ul>
        </div>
     
    </div>


    <div class="wrapper col">
      <div class="wrapper__header">
        <div class="h2"><i class="bi bi-pin-map text-light"></i></div>
        <div class="b_caption">
          <p>Campeonatos <span>2024</span></p>
        </div>
      </div>
      <div class="wrapper__content">
        <ul>
          {% for game in games%}
          <a href="" class="text-decoration-none text-dark" data-toggle="modal" data-target="#game-{{game.id}}">
            <li>
              <div class="name"><span class="header">{{game.place}}</span> <br><small>({{game.price}})</small></div>
              <div class="name"><span class="header"> </span><span class="stat">{% if game.position == None%}--{%else%}{{game.position}}º{%endif%}</span><span class="sub stat"></span></div>
            </li>
          </a>
           <!-- Modal game-{{game.id}} -->
            <div class="modal fade" id="game-{{game.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog-centered modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="exampleModalLabel">{{game.place}}</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {%for round in game.rounds_played%} 
                            <div class="container container-fluid">
                              <div class="row d-flex"> 
                                <div class="col p-0 col-2 d-flex text-center justify-content-center p-0 align-self-center">
                                  <p class="font-weight-bold m-0">{{round.number}}</p>
                                </div >
                                <div class="col col-8 d-flex text-center justify-content-center align-self-center">
                                  
                                  <div class="row justify-content-center fluid p-0">
                                {%for players in round.players%}
                                <div class="col">
                                  <div class = "container fluid container-fluid p-0">
                                    <div class="row justify-content-center mt-2">
                                      <div class="col px-1">                
                                      <img src="{{ url_for('static', filename='images/' ~players.id~  '/' ~players.photo~'') }}" alt="" class = "round-img">
                                      </div>
                                    </div>
                                      <div class="row">
                                        <div class="col p-0">
                                          {{players.first_name}}
                                        </div>
                                      </div>
                                  </div>
                                </div>
                                {%endfor%}  
                              </div>
                            </div>
                            </div> 
                            <div class="row">
                                    <div class="col col-12 text-center mb-0">
                                        {%if round.victory%}{{"¡Ganada!"}}{%else%}{{"Perdida :("}}{%endif%}
                                    </div>
                                    <div class="col-12">
                                      <hr class="my-1">
                                    </div>
                                  </div>
                            </div>                       
                            {%endfor%}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <ul>
            Pronto verás aquí todos los torneos**
          </ul>
        </ul>
      </div>
  </div>
</div>




{% endblock %}
