.checkbox {
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #ccc;
  filter: grayscale(100%);
  transition: all 0.3s ease;
  margin-bottom: -10px;
  margin-top:20;
}


.checkbox:hover {
  opacity: 0.8;
}

.checkbox:hover img {
  filter: grayscale(70%);
}

.checkbox input[type="checkbox"]:checked + img {
  background-color: #007bff;
  filter: grayscale(0%);
}

.round-img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  margin-bottom: -5px;
  margin-top:20;
}
.compress{
  max-width: 150px;
}
@media screen and (max-width: 992px) {
  .round-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    margin-bottom: -5px;
    margin-top:20;
  }
  .checkbox img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    filter: grayscale(100%);
    transition: all 0.3s ease;
    margin-bottom: -10px;
    margin-top:20;
  }
        .compress {
          max-width: 60px;
        }
  }